.footer {
  background-color: #0a2850;
  color: #fff;
  padding: 60px 80px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.footer__content {
  display: flex;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__circle {
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer__social-heading {
  margin: 0;
  padding: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 16px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-link:focus {
  color: #c1c1c1;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
