.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  box-sizing: border-box;
}
.reservation__title {
  text-align: center;
  margin: 0 auto 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: none;
  width: 100%;
}
.reservation__label {
  padding: 0 0 8px;
}
.reservation__input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.reservation__button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  margin-bottom: 32px;
  cursor: pointer;
}
.reservation__button:hover {
  opacity: 0.7;
}
.reservation__checkbox {
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.reservation__label_checkbox {
  display: flex;
  justify-content: center;
}
