.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /*sempre q tiver q centralizar alguma coisa na tela se usa isso */
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px 30px;
  box-sizing: border-box;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.nav__logo {
  display: block;
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  max-width: 709px;
  margin-left: 50px;
  font-size: 58px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -1px;
  margin: 183px 0 0;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  line-height: 72px;
  font-size: 58px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.header__paragraph {
  padding: 0;
  margin-left: 50px;
  font-size: 16px;
  margin: 0;
}

.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  padding: 100px 80px 215px;
  box-sizing: border-box;
}

.recipes__title {
  color: #ffffff;
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.recipes__subtitle {
  color: #fff;
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Time New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  list-style-type: none;
  column-gap: 40px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.recipes__videos-list {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

.recipes__videos-list-description {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
  box-sizing: border-box;
}
.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form {
  display: flex;
  justify-content: center;
}
.reservation__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: none;
  width: 100%;
}
.reservation__label {
  padding: 0 0 8px;
}
.reservation__input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.reservation__button {
  max-width: 385px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  margin-bottom: 32px;
}
.reservation__button:hover {
  opacity: 0.7;
}
.reservation__checkbox {
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.reservation__label_checkbox {
  display: flex;
  justify-content: center;
}
