.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /*sempre q tiver q centralizar alguma coisa na tela se usa isso */
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
